.page {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}